[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "==3.8.*"
psycopg2-binary = "*"
markdown = "*"
faiss-cpu = "==1.14.2"
langchain-text-splitters = "==1.1.2"
numpy = "==2.4.6"
openai = "==2.44.0"
rank-bm25 = "==0.2.2"
sentence-transformers = "==5.5.1"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
